<!DOCTYPE html>
<html>
        <head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
<body>
  <header>
    <h1 class="title">GT GéoAlgo</h1>
    <!--<img src="photo.jpg" alt="Theo Lacombe" class="picture" />-->
    <p class="subtitle"><img src="../logo.png" alt="Logo_CNRS_GdR-IFM" width=30% height=30%/>
</p>
      </header>

<hr>
     <nav>
         <ul>
        		<li><a href="/">Accueil</a></li>
			<li><a href="/geometryThem">Année Géométrie</a></li>			
			<li><a href="/jga">Les JGA</a></li>
        		<li><a href="/teams">Les équipes</a></li>
        		<li><a href="/other">Activité et ressources</a></li>
    	</ul>
     </nav>
                <hr>  
		<div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		<hr>
		<footer>
    			<ul>
        			<li><a href="mailto:theo.lacombe@univ-eiffel.fr,clement.maria@inria.fr">Contacter les responsables</a></li>
        			<li><a href="http://www.lix.polytechnique.fr/~amturing/GT-geoalg/pmwiki/index.php/Main/HomePage">Ancienne page du GT</a></li>
        			<li><a href="https://mygdr.hosted.lip6.fr/">myGDR</a></li>
        			<li><a href="https://www.gdr-im.fr/">GdR-IM</a></li>
			</ul>
		</footer>
		<hr>
	</body>
</html>
